/* Firefox userChrome.css */

#PlacesToolbarItems {
    display: flex !important;
    justify-content: center !important;
}

#tabbrowser-arrowscrollbox-periphery {
    display: none !important;
}

.tab-background {
    height: 1px !important;
}

.tab-label {
    padding: 2px 4px !important;
    font-size: 13px !important;
}

.tab-icon-image {
    width: 15px !important;
    height: 15px !important;
}

.tab-stack {
    height: 24px !important;
}
